{% extends 'base.html' %}
{% load static %}

{% block title %}
    Página Inicial
{% endblock %}

{% block header %}
    <header class="header">
        <nav>
            <ul class="header-links">
                <li><a href="{% url 'home-page' %}">Home</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block content %}
<section class="news-container">
    {% for new in news %}
    <div class="news-card">
        <a href="news/{{new.id}}">
            {% if new.image %}
            <img src="{% static new.image.url %}" alt="{{new.image}}">
            {% endif %}
            <div>
                <h2 class="news-title">{{new.title}}</h2>
                <span class="news-date">{{new.created_at|date:"d/m/Y"}}</span>
            </div>
        </a>
    </div>
    {% endfor %}
</section>
{% endblock %}